.feed-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.navbar{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav-icons{
    margin:0.5rem;
    color: black;
} 

.nav-icons-container{
     display:flex;
    justify-content: center;
    align-items: center;
}

.upload-btn{
    margin-top: 1rem;
}

.videos-container{
    height: 80vh;
    /* border: 1px solid black; */
    border-radius: 15px;
    scrollbar-width: 0;
    overflow-y: scroll;

}

.videos-container::-webkit-scrollbar{
    display: none;
}

.post-container{
    height: 100%;
    width:20rem;
    margin-bottom: 0.6rem;
    margin-top: 1rem;
    border: 2px solid black;
}

.header{
    color: black;
    height: 3rem;
    width: 100%;
}

.post-container>video{
    height: calc(100% - 5.5rem);
    width:19.8rem;
    object-fit: contain;
    background-color: #dfdfdfc2;
    position: relative;
}

.post-info{
    width: 20rem;
    margin-top: 0.2rem;
    font-size: medium;
    display: flex;
    justify-content: space-evenly;
}

.avatar-container{
    display: flex;
    justify-content: flex-start;
    width: 70%;
}

.avatar-container>p{
    margin-left: 1rem;
    font-size: medium;
    font-weight: 600;
    text-transform: capitalize;
}

.likes{
    
    display: flex;
}







@media screen and (max-width:500px){
    .nav-icons{
        display: none;
    }

}